<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaUPS.Properties.Settings.UPS_GIRONConnectionString"
            connectionString="Data Source=WIN-PS6SN3G9U9I;Initial Catalog=UPS_GIRON;Persist Security Info=True;User ID=sa;Password=SIG.root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>